In [39]:
import numpy as np
import pandas as pd

In [40]:
def file_read(year):
    file_path = f'names/yob{year}.txt'
    dataframe = pd.read_csv(file_path, names=['Name', 'Gender', 'Count'])
    dataframe['Year'] = year
    return dataframe

In [41]:
def get_dataframe(years_list):
    dataframe = pd.DataFrame()
    for year in years_list:
        dataframe = pd.concat([dataframe, file_read(year)])
    return dataframe

In [47]:
def count_top3(years_list, count_top=3):
    dataframe = get_dataframe(years_list)
    top_name = dataframe[['Name', 'Count']].groupby(['Name']).sum().sort_values(by='Count', ascending=False).head(count_top)
    return top_name

In [48]:
count_top3([1900, 1950, 2000])

         Count
Name
James   111789
John    109601
Robert  101368

In [54]:
def count_dynamics(years_list):
    dataframe = get_dataframe(years_list)
    name_dynamics = dataframe[['Year', 'Gender', 'Count']].groupby(['Year','Gender']).sum().unstack('Gender')
    return name_dynamics

In [55]:
count_dynamics([1900, 1950, 2000])

          Count
Gender        F        M
Year
1900     299798   150480
1950    1713065  1790437
2000    1815295  1963202