In [8]:
import pandas as pd

In [9]:
my_series = pd.Series([1,2,3,4,5,6])

In [10]:
my_series ** 2

0     1
1     4
2     9
3    16
4    25
5    36
dtype: int64

In [11]:
my_df = pd.DataFrame({
    'City': ['MSK', 'SPB', 'EKB'],
    'Temp': ['28', '12', '31'],
    'Name': ['Vova', 'Petya', 'Sasha']
})
my_df

  City Temp   Name
0  MSK   28   Vova
1  SPB   12  Petya
2  EKB   31  Sasha